## Step 1 - Data Gathering

In [1]:
# Importing the required libraries
import pandas as pd
import glob

# Specify the path where data files are located
path = r"G:\My Drive\Data Analyst Course\5.1 Introduction to Programming with Python\5.3 Capstone Project -  Introduction to Programming with Python\Sales_Data\Sales2019"

# Use the glob module to get a list of all file names with the extension ".csv" in the specified folder
file_list = glob.glob(path + "\*.csv")

# print the list
print(file_list)

['G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_April_2019.csv', 'G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_August_2019.csv', 'G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_December_2019.csv', 'G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_February_2019.csv', 'G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_January_2019.csv', 'G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_July_2019.csv', 'G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_June_2019.csv', 'G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_March_2019.csv', 'G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_May_2019.csv', 'G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_November_2019.csv', 'G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_October_2019.csv', 'G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\Sales_Data\\Sales2019\\Sales_September_2019.csv']

In [2]:
# Initialize an empty list to hold all the dataframes
dataframes = []

# Loop through each file, read it as a dataframe, and append it to the list
for file in file_list:
    df = pd.read_csv(file)
    dataframes.append(df)

# Concatenate all the dataframes into one
merged_df = pd.concat(dataframes)

# Save the merged DataFrame as "DataMerged.csv" in your local Google Drive folder
output_path = "G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\2019SalesMgd.csv"
merged_df.to_csv(output_path, index=False)

# Print a message to confirm that the data has been merged and saved successfully
print("Data has been merged and saved as 2019SalesMgd.csv in your local Google Drive folder.")

Data has been merged and saved as 2019SalesMgd.csv in your local Google Drive folder.

In [3]:
#Check the DataMerged file
print(df)

      Order ID                 Product Quantity Ordered Price Each  \
0       248151   AA Batteries (4-pack)                4       3.84
1       248152    USB-C Charging Cable                2      11.95
2       248153    USB-C Charging Cable                1      11.95
3       248154        27in FHD Monitor                1     149.99
4       248155    USB-C Charging Cable                1      11.95
...        ...                     ...              ...        ...
11681   259353  AAA Batteries (4-pack)                3       2.99
11682   259354                  iPhone                1        700
11683   259355                  iPhone                1        700
11684   259356  34in Ultrawide Monitor                1     379.99
11685   259357    USB-C Charging Cable                1      11.95

           Order Date                         Purchase Address
0      09/17/19 14:44      380 North St, Los Angeles, CA 90001
1      09/29/19 10:19             511 8th St, Austin, TX 73301
2      09/16/19 17:48    151 Johnson St, Los Angeles, CA 90001
3      09/27/19 07:52        355 Hickory St, Seattle, WA 98101
4      09/01/19 19:03            125 5th St, Atlanta, GA 30301
...               ...                                      ...
11681  09/17/19 20:56   840 Highland St, Los Angeles, CA 90001
11682  09/01/19 16:00  216 Dogwood St, San Francisco, CA 94016
11683  09/23/19 07:39     220 12th St, San Francisco, CA 94016
11684  09/19/19 17:30   511 Forest St, San Francisco, CA 94016
11685  09/30/19 00:18   250 Meadow St, San Francisco, CA 94016

[11686 rows x 6 columns]

## Step 2 - Data Cleaning

In [4]:
# Load the merged data
data_path = "G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\2019SalesMgd.csv"
df = pd.read_csv(data_path)

In [5]:
# Check the shape of the dataframe to see the number of rows and columns
print(df.shape)

(186850, 6)

In [6]:
# Check for null values in the dataframe
df.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [7]:
# Check the rows with NaN value
df[df.isna().any(axis=1)]

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1,NaN,NaN,NaN,NaN,NaN,NaN
356,NaN,NaN,NaN,NaN,NaN,NaN
735,NaN,NaN,NaN,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
185176,NaN,NaN,NaN,NaN,NaN,NaN
185438,NaN,NaN,NaN,NaN,NaN,NaN
186042,NaN,NaN,NaN,NaN,NaN,NaN
186548,NaN,NaN,NaN,NaN,NaN,NaN
186826,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Drop the NaN
df=df.dropna(how="all")

In [9]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [10]:
# Check the number of rows with missing values (empty lines)
num_empty_lines = df.isnull().all(axis=1).sum()

# If 'num_empty_lines' is greater than 0, it means there are empty lines in the DataFrame.
print("Number of empty lines:", num_empty_lines)

Number of empty lines: 0

In [11]:
# Check for unnecessary columns.
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [12]:
# Convert the headers to lower case
df.columns=df.columns.str.lower()

In [13]:
#Filter the duplicated headers and drop them
filtered = df.loc[df["product"] == "Product"]

In [14]:
df = df.drop(filtered.index)

In [15]:
df

,order id,product,quantity ordered,price each,order date,purchase address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [16]:
# Check for duplicated rows
print(df.duplicated().sum())

264

In [17]:
# Drop any duplicated rows
df = df.drop_duplicates()

In [18]:
df

,order id,product,quantity ordered,price each,order date,purchase address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

## Step 3 - Data Preparation

### Spliting Address

In [19]:
# Use .str.split() to split the "purchase address" column into street, city, and state
address_split = df['purchase address'].str.split(',', n=2, expand=True)

# Assign the split values to new columns in the DataFrame
df['street'] = address_split[0].str.strip()
df['city'] = address_split[1].str.strip()
df['state postcode'] = address_split[2].str.strip()

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\388080531.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['street'] = address_split[0].str.strip()
C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\388080531.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['city'] = address_split[1].str.strip()
C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\388080531.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['state postcode'] = address_split[2].str.strip()

In [20]:
df

,order id,product,quantity ordered,price each,order date,purchase address,street,city,state postcode
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",917 1st St,Dallas,TX 75001
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",682 Chestnut St,Boston,MA 02215
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",669 Spruce St,Los Angeles,CA 90001
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",669 Spruce St,Los Angeles,CA 90001
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",333 8th St,Los Angeles,CA 90001
...,...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",840 Highland St,Los Angeles,CA 90001
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",216 Dogwood St,San Francisco,CA 94016
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",220 12th St,San Francisco,CA 94016
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",511 Forest St,San Francisco,CA 94016
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",250 Meadow St,San Francisco,CA 94016

In [21]:
# Extract from State the postcode into a new column
df[['state', 'postcode']] = df['state postcode'].str.extract(r'([A-Za-z]+) (\d+)', expand=True)

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\3698211878.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['state', 'postcode']] = df['state postcode'].str.extract(r'([A-Za-z]+) (\d+)', expand=True)
C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\3698211878.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['state', 'postcode']] = df['state postcode'].str.extract(r'([A-Za-z]+) (\d+)', expand=True)

In [22]:
df

,order id,product,quantity ordered,price each,order date,purchase address,street,city,state postcode,state,postcode
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",917 1st St,Dallas,TX 75001,TX,75001
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",682 Chestnut St,Boston,MA 02215,MA,02215
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",669 Spruce St,Los Angeles,CA 90001,CA,90001
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",669 Spruce St,Los Angeles,CA 90001,CA,90001
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",333 8th St,Los Angeles,CA 90001,CA,90001
...,...,...,...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",840 Highland St,Los Angeles,CA 90001,CA,90001
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",216 Dogwood St,San Francisco,CA 94016,CA,94016
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",220 12th St,San Francisco,CA 94016,CA,94016
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",511 Forest St,San Francisco,CA 94016,CA,94016
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",250 Meadow St,San Francisco,CA 94016,CA,94016

In [23]:
# Concatenate 'city' and 'state' columns with a space in between to get 'city state'
df['city'] = df['city'] + ' ' + df['state']

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\2922896562.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['city'] = df['city'] + ' ' + df['state']

In [24]:
df

,order id,product,quantity ordered,price each,order date,purchase address,street,city,state postcode,state,postcode
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",917 1st St,Dallas TX,TX 75001,TX,75001
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",682 Chestnut St,Boston MA,MA 02215,MA,02215
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",669 Spruce St,Los Angeles CA,CA 90001,CA,90001
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",669 Spruce St,Los Angeles CA,CA 90001,CA,90001
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",333 8th St,Los Angeles CA,CA 90001,CA,90001
...,...,...,...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",840 Highland St,Los Angeles CA,CA 90001,CA,90001
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",216 Dogwood St,San Francisco CA,CA 94016,CA,94016
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",220 12th St,San Francisco CA,CA 94016,CA,94016
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",511 Forest St,San Francisco CA,CA 94016,CA,94016
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",250 Meadow St,San Francisco CA,CA 94016,CA,94016

In [25]:
# Drop the unnecessary columns
df.drop(['purchase address', 'state postcode'], axis=1, inplace=True)

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\2014880907.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(['purchase address', 'state postcode'], axis=1, inplace=True)

In [26]:
df

,order id,product,quantity ordered,price each,order date,street,city,state,postcode
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,917 1st St,Dallas TX,TX,75001
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,682 Chestnut St,Boston MA,MA,02215
3,176560,Google Phone,1,600,04/12/19 14:38,669 Spruce St,Los Angeles CA,CA,90001
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,669 Spruce St,Los Angeles CA,CA,90001
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,333 8th St,Los Angeles CA,CA,90001
...,...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,840 Highland St,Los Angeles CA,CA,90001
186846,259354,iPhone,1,700,09/01/19 16:00,216 Dogwood St,San Francisco CA,CA,94016
186847,259355,iPhone,1,700,09/23/19 07:39,220 12th St,San Francisco CA,CA,94016
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,511 Forest St,San Francisco CA,CA,94016
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,250 Meadow St,San Francisco CA,CA,94016

### Correcting and Extracting data from Order Date

In [27]:
df.dtypes

order id            object
product             object
quantity ordered    object
price each          object
order date          object
street              object
city                object
state               object
postcode            object
dtype: object

In [28]:
#Convert "Order Date" to the correct data type
df['order date'] = pd.to_datetime(df['order date'], format='%m/%d/%y %H:%M')

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\1464299054.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['order date'] = pd.to_datetime(df['order date'], format='%m/%d/%y %H:%M')

In [29]:
# Extract date-related information
df['month'] = df['order date'].dt.strftime('%B')
df['weekday'] = df['order date'].dt.strftime('%A')
df['hour'] = df['order date'].dt.strftime('%H:%M')

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\2259384225.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = df['order date'].dt.strftime('%B')
C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\2259384225.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weekday'] = df['order date'].dt.strftime('%A')
C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\2259384225.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hour'] = df['order date'].dt.strftime('%H:%M')

In [30]:
df

,order id,product,quantity ordered,price each,order date,street,city,state,postcode,month,weekday,hour
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,917 1st St,Dallas TX,TX,75001,April,Friday,08:46
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,682 Chestnut St,Boston MA,MA,02215,April,Sunday,22:30
3,176560,Google Phone,1,600,2019-04-12 14:38:00,669 Spruce St,Los Angeles CA,CA,90001,April,Friday,14:38
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,669 Spruce St,Los Angeles CA,CA,90001,April,Friday,14:38
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,333 8th St,Los Angeles CA,CA,90001,April,Tuesday,09:27
...,...,...,...,...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,840 Highland St,Los Angeles CA,CA,90001,September,Tuesday,20:56
186846,259354,iPhone,1,700,2019-09-01 16:00:00,216 Dogwood St,San Francisco CA,CA,94016,September,Sunday,16:00
186847,259355,iPhone,1,700,2019-09-23 07:39:00,220 12th St,San Francisco CA,CA,94016,September,Monday,07:39
186848,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,511 Forest St,San Francisco CA,CA,94016,September,Thursday,17:30
186849,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,250 Meadow St,San Francisco CA,CA,94016,September,Monday,00:18

In [31]:
# Add a new column 'hour_only' containing only the hour part from the 'hour' column
df['hour_only'] = df['hour'].str[:2]

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\3192630863.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hour_only'] = df['hour'].str[:2]

In [32]:
df

,order id,product,quantity ordered,price each,order date,street,city,state,postcode,month,weekday,hour,hour_only
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,917 1st St,Dallas TX,TX,75001,April,Friday,08:46,08
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,682 Chestnut St,Boston MA,MA,02215,April,Sunday,22:30,22
3,176560,Google Phone,1,600,2019-04-12 14:38:00,669 Spruce St,Los Angeles CA,CA,90001,April,Friday,14:38,14
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,669 Spruce St,Los Angeles CA,CA,90001,April,Friday,14:38,14
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,333 8th St,Los Angeles CA,CA,90001,April,Tuesday,09:27,09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,840 Highland St,Los Angeles CA,CA,90001,September,Tuesday,20:56,20
186846,259354,iPhone,1,700,2019-09-01 16:00:00,216 Dogwood St,San Francisco CA,CA,94016,September,Sunday,16:00,16
186847,259355,iPhone,1,700,2019-09-23 07:39:00,220 12th St,San Francisco CA,CA,94016,September,Monday,07:39,07
186848,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,511 Forest St,San Francisco CA,CA,94016,September,Thursday,17:30,17
186849,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,250 Meadow St,San Francisco CA,CA,94016,September,Monday,00:18,00

In [33]:
# Extract dyear from order date
df['year'] = df['order date'].dt.year

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\4183608318.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df['order date'].dt.year

In [34]:
df

,order id,product,quantity ordered,price each,order date,street,city,state,postcode,month,weekday,hour,hour_only,year
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,917 1st St,Dallas TX,TX,75001,April,Friday,08:46,08,2019
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,682 Chestnut St,Boston MA,MA,02215,April,Sunday,22:30,22,2019
3,176560,Google Phone,1,600,2019-04-12 14:38:00,669 Spruce St,Los Angeles CA,CA,90001,April,Friday,14:38,14,2019
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,669 Spruce St,Los Angeles CA,CA,90001,April,Friday,14:38,14,2019
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,333 8th St,Los Angeles CA,CA,90001,April,Tuesday,09:27,09,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,840 Highland St,Los Angeles CA,CA,90001,September,Tuesday,20:56,20,2019
186846,259354,iPhone,1,700,2019-09-01 16:00:00,216 Dogwood St,San Francisco CA,CA,94016,September,Sunday,16:00,16,2019
186847,259355,iPhone,1,700,2019-09-23 07:39:00,220 12th St,San Francisco CA,CA,94016,September,Monday,07:39,07,2019
186848,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,511 Forest St,San Francisco CA,CA,94016,September,Thursday,17:30,17,2019
186849,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,250 Meadow St,San Francisco CA,CA,94016,September,Monday,00:18,00,2019

In [35]:
# check the years present on DataFrame
unique_years = df['year'].unique()
print(unique_years)

[2019 2020]

In [36]:
# Filter rows where 'year' is not equal to 2020
df_filtered = df.loc[df['year'] != 2020]

In [37]:
# Drop rows where 'year' is equal to 2020 from the original dataframe
df.drop(df[df['year'] == 2020].index, inplace=True)

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\3060669193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df[df['year'] == 2020].index, inplace=True)

In [38]:
# check the years present on DataFrame
unique_years = df['year'].unique()
print(unique_years)

[2019]

In [39]:
# Combine 'month' and 'year' columns into a new 'month_year' column
df['month_year'] = df['month'].astype(str) + '_' + df['year'].astype(str)

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\766916535.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month_year'] = df['month'].astype(str) + '_' + df['year'].astype(str)

In [40]:
df

,order id,product,quantity ordered,price each,order date,street,city,state,postcode,month,weekday,hour,hour_only,year,month_year
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,917 1st St,Dallas TX,TX,75001,April,Friday,08:46,08,2019,April_2019
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,682 Chestnut St,Boston MA,MA,02215,April,Sunday,22:30,22,2019,April_2019
3,176560,Google Phone,1,600,2019-04-12 14:38:00,669 Spruce St,Los Angeles CA,CA,90001,April,Friday,14:38,14,2019,April_2019
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,669 Spruce St,Los Angeles CA,CA,90001,April,Friday,14:38,14,2019,April_2019
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,333 8th St,Los Angeles CA,CA,90001,April,Tuesday,09:27,09,2019,April_2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,2019-09-17 20:56:00,840 Highland St,Los Angeles CA,CA,90001,September,Tuesday,20:56,20,2019,September_2019
186846,259354,iPhone,1,700,2019-09-01 16:00:00,216 Dogwood St,San Francisco CA,CA,94016,September,Sunday,16:00,16,2019,September_2019
186847,259355,iPhone,1,700,2019-09-23 07:39:00,220 12th St,San Francisco CA,CA,94016,September,Monday,07:39,07,2019,September_2019
186848,259356,34in Ultrawide Monitor,1,379.99,2019-09-19 17:30:00,511 Forest St,San Francisco CA,CA,94016,September,Thursday,17:30,17,2019,September_2019
186849,259357,USB-C Charging Cable,1,11.95,2019-09-30 00:18:00,250 Meadow St,San Francisco CA,CA,94016,September,Monday,00:18,00,2019,September_2019

### Calculations

In [41]:
#convert "price each" to a correct data type
df['price each'] = df['price each'].astype(float)

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\3794898983.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price each'] = df['price each'].astype(float)

In [42]:
# Calculate Revenue
df["revenue"]=df["price each"] * df["quantity ordered"]

TypeError: can't multiply sequence by non-int of type 'float'

In [43]:
# Check data type
print(df['price each'].dtype)
print(df['quantity ordered'].dtype)

float64
object

In [44]:
# Convert the 'quantity ordered' column to numeric data type, replacing non-numeric values with NaN
df['quantity ordered'] = pd.to_numeric(df['quantity ordered'], errors='coerce')

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\2326390856.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['quantity ordered'] = pd.to_numeric(df['quantity ordered'], errors='coerce')

In [45]:
# Drop rows with missing values in 'quantity ordered'
df.dropna(subset=['quantity ordered'], inplace=True)

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\3964171572.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['quantity ordered'], inplace=True)

In [46]:
# Check data type
print(df['price each'].dtype)
print(df['quantity ordered'].dtype)

float64
int64

In [47]:
# Calculate Revenue
df["revenue"]=df["price each"] * df["quantity ordered"]

C:\Users\julia_so1gyxp\AppData\Local\Temp\ipykernel_5516\1335692813.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["revenue"]=df["price each"] * df["quantity ordered"]

In [52]:
# Check if 'df' has any empty cells (NaN values)
has_empty_cells = df.isna().any().any()
print(has_empty_cells)

False

In [50]:
# Check the shape of the dataframe to see the number of rows and columns
print(df.shape)

(185652, 16)

## Saving the changes made into Merged File

In [53]:
# Save the changes back to 'DataMerged.csv'
output_path = "G:\\My Drive\\Data Analyst Course\\5.1 Introduction to Programming with Python\\5.3 Capstone Project -  Introduction to Programming with Python\\2019SalesMgd.csv"
df.to_csv(output_path, index=False)